# fly.toml file generated for thraxil on 2023-02-16T13:38:16Z

app = "thraxil"
kill_signal = "SIGTERM"
kill_timeout = 5
processes = []

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "thraxil.org"
  PORT = "8080"

[experimental]
  auto_rollback = true

[[statics]]
  guest_path = "/app/assets"
  url_prefix = "/assets"

[metrics]
  port = 8080
  path = "/metrics"

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 25
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
