<h2><%= link("Tag", to: Routes.page_path(@conn, :tag_index)) %>: <%= @tag.name %></h2>

<table>
  <%= for node <- @tag.nodes do %>
      <tr>
        <th><%= link(node.title, to: node_path(node)) %></th>
        <td>by <%= link(node.user.fullname, to:
        Routes.page_path(@conn, :user_detail, node.user.username)) %></td><td><%= node.created %></td>
      </tr>
      <% end %>
</table>
