<.breadcrumbs>
  <.breadcrumb_root />
  <li><%= link("tags", to: Routes.page_path(@conn, :tag_index)) %></li>
  <li><%= @tag.name %></li>
</.breadcrumbs>

<div class="prose text-slate-900">
  <ul>
    <%= for node <- @tag.nodes do %>
      <li><.node_link node={node} /> <.inline_byline node={node} /></li>
    <% end %>
  </ul>
</div>
