<.breadcrumbs>
  <.breadcrumb_root></.breadcrumb_root>
  <li>tags</li>
</.breadcrumbs>

<div class="prose">
  <%= for tag <- @tags do %>
    <%= link(tag.name,
      to: Routes.page_path(@conn, :tag_detail, tag.slug),
      class: "badge"
    ) %>
  <% end %>
</div>
