<h2>// <%= link("thraxil.org", to: Routes.page_path(@conn, :index)) %> / tags</h2>

<ul>
  <%= for tag <- @tags do %>
      <li>
        <%= link(tag.name, to: Routes.page_path(@conn, :tag_detail,
            tag.slug)) %>
        </li>
      <% end %>
</ul>
