<div class="breadcrumbs">
  <ul>

  <li>// <%= link("thraxil.org", to: Routes.page_path(@conn, :index)) %></li>
  <li>users</li>
  </ul>
</div>

<div class="prose">
<ul>
<%= for user <- @users do %>
<li><%= link(user.fullname, to: Routes.page_path(@conn, :user_detail, user.username)) %></li>
<% end %>
</ul>
</div>
