<nav aria-label="Breadcrumb" class="mb-8">
  <ol role="list" class="flex items-center space-x-2 text-sm text-slate-500">
  <%= render(VegaWeb.BreadcrumbsView, "breadcrumb.html", Map.merge(%{conn: @conn}, Map.new([user: @user]))) %>
  <%= render(VegaWeb.BreadcrumbsView, "breadcrumb_tail.html", %{title: @type <> "s"}) %>
  </ol>
</nav>

<div class="prose text-slate-900">
  <ul>
    <%= for y <- @years do %>
      <li>
        <%= link(trunc(y.year),
          to:
            Routes.page_path(
              @conn,
              :user_type_year_index,
              @user.username,
              @type <> "s",
              trunc(y.year)
            ),
          class: "text-slate-900"
        ) %> (<%= y.count %>)
      </li>
    <% end %>
  </ul>
</div>
