<.breadcrumbs>
  <.breadcrumb user={@user} type={@type} year={@year} month={@month} />
  <li>{@day}</li>
</.breadcrumbs>

<.article>
  <ul>
    <%= for node <- @nodes do %>
      <li><.node_link node={node} /> <.inline_byline node={node} /></li>
    <% end %>
  </ul>
</.article>
