<ul class="flex items-center gap-4 text-sm font-medium">
  <%= if @current_user do %>
    <li>
      <%= link("Settings",
        to: Routes.user_settings_path(@conn, :edit),
        class: "text-slate-800 hover:text-indigo-600 transition-colors drop-shadow-sm"
      ) %>
    </li>
    <li>
      <%= link("Log out",
        to: Routes.user_session_path(@conn, :delete),
        method: :delete,
        class: "text-slate-800 hover:text-indigo-600 transition-colors drop-shadow-sm"
      ) %>
    </li>
  <% end %>
</ul>
