<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title><%= assigns[:page_title] || "Thraxil" %></.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      href={Routes.rss_url(@conn, :index)}
      type="application/atom+xml"
      rel="alternate"
      title="Atom feed for thraxil.org"
    />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <script
      async
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    >
    </script>
  </head>
  <body class="bg-slate-50 text-slate-900 antialiased">
    <nav class="w-full top-0 flex flex-row items-center
                justify-between lg:px-10 
                font-display text-lg
                xl:text-xl pb-40 bg-fixed bg-base-300 bg-cover bg-no-repeat justify-end bg-[url('/images/banner.jpg')]">
      <div>
        <%= link("thraxil.org", to: Routes.page_path(@conn, :index), class: "hidden") %>
      </div>

      <div class="flex flex-row gap-x-6 text-gray-100 ">
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <%= link("LiveDashboard", to: Routes.live_dashboard_path(@conn, :home)) %>
        <% end %>
        <div>
          <.search></.search>
          <%= render("_user_menu.html", assigns) %>
        </div>
      </div>
    </nav>

    <div class="container mx-auto">
      <%= @inner_content %>
    </div>
  </body>
</html>
